<%- include("../partials/header") %>

<div class="container">
	<h3 style="text-align: center"> Edit Comment </h3>
	<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
		<div style="width: 65%; margin: 2rem auto">
			<div class="form-group">
				<textarea rows="5" name="campground[description]" class="form-control" id="formGroupExampleInput2"><%= comment.text %></textarea>
  			</div>
			
			<button type="submit" class="btn btn-outline-primary btn-block">Submit</button>	
		</div>
	</form>
</div>

<%- include("../partials/footer") %>