<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p class="lead"> <%= campground.name %> </p>
			<div class="list-group">
				<li class="list-group-item">Info 1</li>
				<li class="list-group-item">Info 2</li>
			</div>
			
		</div>
		<div class="col-md-8">
			<div class="card">
				<img src= "<%= campground.image %>" class="card-img-top show">
				<div class="card-body">
					<figcaption class="figure-caption text-right">$<%= campground.price%>/night </figcaption>
					<a href="#"><h3 class="card-title"><%= campground.name %></h3></a>
					<p class="card-text"> <%= campground.description %> </p>
					<p class="card-text"> 
						<em class="figure-caption text-right">
							Submitted by <%= campground.author.username %>, 
							<%= moment(campground.createdAt).fromNow() %>
						</em>
					</p>
					
					<% if(currentUser && campground.author.id.equals(currentUser._id)){ %>	  				
						<a class="btn btn-sm btn-outline-secondary float-right" href="/campgrounds/<%= campground._id%>/edit"> Edit </a>
						<form class="delete-camp-btn float-right" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-outline-danger"> Delete </button>
						</form>					  
					<% } %>
				</div>		
			</div>
			
			<div class="card bg-light" id="comment">
				<div class="card-body">
					<div class="text-right">
						<a class="btn btn-outline-primary" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment
						</a>
					</div>
					<hr>
					
					
					<% campground.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<br>
								<strong><%= comment.author.username %></strong>
								<span class="float-right">
									<%= moment(campground.createdAt).fromNow() %>
								</span>
								<p> <%= comment.text %> </p>
								
								<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
								<a 
								   class="btn btn-sm btn-outline-secondary float-right" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
									Edit
								</a>
								<form class="delete-camp-btn float-right" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
									<button type="submit" class="btn btn-sm btn-outline-danger">
										Delete
									</button>
								</form>
								<% } %>
							</div>	
						</div>
					<% }) %>
					
				</div>		
			</div>
		</div>	
	</div>
	
</div>


<%- include("../partials/footer") %>